// Specific CSS for your home-page

.content {
  h1 {
    color: white;
  }

  h2 {
    color:white;
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}


.container {
  display: flex;
  justify-content: center;

}

.home-banner {
  background-image: url(https://images.unsplash.com/photo-1436473849883-bb3464c23e93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: 80%;
  height: 100vh;
  color: #f4f4f471;
  text-align: center;
  padding-top: 10vh;

}
