<div class="home-banner">
  <a href="/sobre" class="button">Sobre</a>
  <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/204/204065.png" alt="">
  <a href="/servicos" class="button">Serviços</a>
  <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/1086/1086544.png" alt="">
  <a href="https://api.whatsapp.com/send?phone=+551195815-7128" class="button">Contato</a>
  <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/15/15895.png" alt="">
  <a href="/obras" class="button">Obras</a>
  <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/972/972998.png" alt="">
  <a href="/login" class="button">Login cliente</a>
  <img class="avatar"src="https://img-premium.flaticon.com/png/512/310/premium/310818.png?token=exp=1632349878~hmac=41e5cea59d0a60d8dd345fc0a4778114" alt="">
    <div class="texto-letreiro">
      <p><span style='color:gray'id="banner-typed-text"></span></p>
    </div>
</div>



  <div class="home">
  <div class="banner">
  </div>
  <div class="container">
    <div class="banner-text">
      <p>
        <span class= "text-center" id="banner-typed-text"></span>
      </p>
    </div>
  </div>
   <h2 class="text-center">O que fazemos</h2>
  <div class="card-form">
    <div class="container-home">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/767/767645.png">
            </div>
            <h3>Projetos de ar condicionado</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p></p>
            <a href="#">Soluções específicas</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
              <div class="text-center">
                <img src="https://img-premium.flaticon.com/png/512/1204/premium/1204445.png?token=exp=1631998669~hmac=c211764aebaab5bde12c2fc76221b259">
              </div>
              <h3>Instalação de Sistemas e Comissionamento</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">

            <a href="#">VRF, VAV, ETC</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="text-center">
              <img src="https://img-premium.flaticon.com/png/512/2169/premium/2169943.png?token=exp=1631998790~hmac=5288c0f4988ca03ee616e6dfbf2d6668">
              <h3>Manutenção e suporte em campo</h3>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <a href="#">Garantia de sistema operante</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!--  footer -->
    <div class="tooltips">
      <div class="main center">
        <div class="box center">
          <a href="#" data-text='Facebook'>
            <i class='fab fa-facebook-f fa-2x'></i>
          </a>
          <a href="#" data-text='Instagram'>
            <i class='fab fa-instagram fa-2x'></i>
          </a>

        </div>
        <h1>Copyrights by <a href="">gtex</a>
        </h1>

      </div>
    </div>
</div>
