  <div class="home-banner">
    <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/204/204065.png" alt="">
    <a href="/sobre" class="button">Sobre</a>
    <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/1086/1086544.png" alt="">
    <a href="/servicos" class="button">Serviços</a>
    <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/15/15895.png" alt="">
    <a href="https://api.whatsapp.com/send?phone=+551195815-7128" class="button">Contato</a>
    <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/972/972998.png" alt="">
    <a href="/obras" class="button">Obras</a>
      <div class="texto-letreiro">
        <p><span style='color:black'id="banner-typed-text"></span></p>
      </div>
  </div>

  <div class="container">
    <div class="card-form">
      <div class="container-home">
        <div class="card ">
          <div class="face face1" >
            <div class="content">
              <div class="text-center">
              <%= image_tag("flaticon_projeto.png", width: 200) %>
              </div>
              <h3>Projetos de ar condicionado</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p></p>
              <a href="#">Soluções específicas</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
                <div class="text-center">
                  <%= image_tag("flaticon_instalacao.png", width: 200) %>
                </div>
                <h3>Instalação de Sistemas e Comissionamento</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">

              <a href="#">VRF, VAV, ETC</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <div class="text-center">
                <%= image_tag("flaticon_manutencao.png", width: 200) %>
                <h3>Manutenção e suporte em campo</h3>
              </div>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <a href="#">Garantia de sistema operante</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tooltips">
    <div class="main center">
      <div class="box center">
          <a href="#" data-text='Instagram'>
            <i class='fab fa-instagram fa-2x'></i>
          </a>
      </div>
        <h1>Copyrights by <a href="https://gtexapp.com.br/">gtex</a></h1>
    </div>
  </div>
