
<div class="slider-container">

    <div class="slider-content">

        <div class="slider-single">
            <%= image_tag 'apto_residencial.jpg', :class => "slider-single-image"%>
            <h1 class="slider-single-title">Apartamento Alto Padrão</h1>
        </div>

        <div class="slider-single">
            <%= image_tag 'apto_residencial_2.jpg', :class => "slider-single-image"%>
            <h1 class="slider-single-title">Apartamento Alto Padrão</h1>
        </div>

        <div class="slider-single">
            <%= image_tag 'drogaria_nova_esperanca.jpg', :class => "slider-single-image"%>
            <h1 class="slider-single-title">Drogaria Nova Esperança</h1>
        </div>

        <div class="slider-single">
            <%= image_tag 'obra_kallas.png', :class => "slider-single-image"%>
            <h1 class="slider-single-title">Sede Kallas</h1>
        </div>
    </div>
</div>
