<div class="obras">

  <div class="container">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
    <div class="cards">
      <label class="card-obra" for="item-1" id="song-1">
        <%= image_tag("apto_residencial.jpg") %>
      </label>
      <label class="card-obra" for="item-2" id="song-2">
        <%= image_tag("apto_residencial_2.jpg") %>
      </label>
      <label class="card-obra" for="item-3" id="song-3">
        <%= image_tag("obra_kallas.png") %>
      </label>
    </div>
    <div class="player">
      <div class="upper-part">
        <h1>Obras x</h1>
      </div>
      <div class="progress-bar">
        <span class="progress"></span>
      </div>
    </div>
  </div>
  <div class="avatar">
    <img src="https://cdn-icons-png.flaticon.com/512/204/204065.png" alt="">
    <%= link_to "Voltar", home_path, class:"voltar" %>
   </div>
</div>
