<div class="container">
  <h2>Envie sua necessidade</h2>
</div>

  <div class="avatar">
    <img src="https://cdn-icons-png.flaticon.com/512/204/204065.png" alt="">
    <%= link_to "Voltar", home_path, class:"voltar" %>
   </div>
