  <div class="home-banner">

  </div>

<%= turbo_frame_tag "first_turbo_frame" do %>
  <div class="container-inicio">
    <div class="card-form">
      <div class="container-home">
        <div class="card ">
          <div class="face face1" >
            <div class="content">
              <div class="text-center">
                    <h1>Know-how</h1>
                      <h2>A set air trabalha com soluções de sistemas de ar-condicionado,
                      ventilação e exaustão mecânica há mais de 10 anos no
                      mercado de obras corporativas e residenciais.
                      </h2>
              </div>
            </div>
          </div>
          <div class="face face2" >
            <div class="content">
              <div class="text-center">
                    <h1>OBJETIVO</h1>
                      <p>Seu objetivo é viabilizar projetos com soluções climáticas sustentáveis,
                      visando conforto térmico, bem-estar, qualidade de vida e otimização dos recursos.
                      </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="face face1" >
            <div class="content">
              <div class="text-center">
                    <h1>VISÃO​</h1>
                      <h2>Ser referência no mercado de conforto térmico, reconhecida pela alta qualidade nos serviços prestados, gerando orgulho, admiração e inspiração para os colaboradores, fornecedores e clientes.​
                      </h2>
              </div>
            </div>
          </div>
          <div class="face face2" >
            <div class="content">
              <div class="text-center">
                    <h1>VALORES​</h1>
                      <p>Ética, transparência, comprometimento, fidelidade, profissionalismo, integridade, inovação e
                      sustentabilidade.
                      </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
