.home-banner {
    background-image: url(https://images.unsplash.com/photo-1545259742-b4fd8fea67e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80);
    background-size: cover;
    background-position: 80%;
    height: 100vh;
    color: #F4F4F4;
    text-align: left;
    padding-top: 20vh;

}

.container {
  width: 400px;
  height: 600px;
}
